<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="br.com.stek.rtsplayer" version="1.0.0">
   <name>rtsplayer</name>
   <js-module name="rtsplayer" src="www/rtsplayer.js">
      <clobbers target="cordova.plugins.rtsplayer" />
   </js-module>
   <platform name="ios">
      <config-file parent="/*" target="config.xml">
         <feature name="rtsplayer">
            <param name="ios-package" value="rtsplayer" />
         </feature>
      </config-file>
      <header-file src="src/ios/rtsplayer.h" />
      <source-file src="src/ios/rtsplayer.m" />
      <header-file src="src/ios/rtsplayerViewController.h" />
      <source-file src="src/ios/rtsplayerViewController.m" />
      <resource-file src="src/ios/rtsplayerViewController.xib" />
      <header-file src="src/ios/FFFrameExtractor.h" />
      <source-file compiler-flags="-I/usr/local/FFMpegiOS/include/ -I/usr/local/FFMpegiOS/include/libavcodec/ -I/usr/local/FFMpegiOS/include/libavformat/ -I/usr/local/FFMpegiOS/include/libswscale/" src="src/ios/FFFrameExtractor.m" />
      <framework src="libiconv.dylib" />
      <framework src="libz.dylib" />
      <framework src="libbz2.dylib" />
      <framework src="CoreVideo.framework" />
      <source-file framework="true" src="src/ios/FFMpegiOS/lib/libavcodec.a" />
      <source-file framework="true" src="src/ios/FFMpegiOS/lib/libavdevice.a" />
      <source-file framework="true" src="src/ios/FFMpegiOS/lib/libavfilter.a" />
      <source-file framework="true" src="src/ios/FFMpegiOS/lib/libavformat.a" />
      <source-file framework="true" src="src/ios/FFMpegiOS/lib/libavutil.a" />
      <source-file framework="true" src="src/ios/FFMpegiOS/lib/libswresample.a" />
      <source-file framework="true" src="src/ios/FFMpegiOS/lib/libswscale.a" />
   </platform>
   <platform name="android">
      <framework src="net.majorkernelpanic.streaming:libstreaming" />
      <config-file parent="/*" target="res/xml/config.xml">
         <feature name="rtsplayer">
            <param name="android-package" value="br.com.stek.rtsplayer.rtsplayer" />
         </feature>
      </config-file>
      <config-file parent="/*" target="res/xml/config.xml">
         <feature name="rtsplayer">
            <param name="android-package" value="br.com.stek.rtsplayer.rtsplayer" />
         </feature>
      </config-file>
      <config-file parent="/*" target="AndroidManifest.xml">
         <uses-permission android:name="android.permission.INTERNET" />
         <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
         <uses-permission android:name="android.permission.RECORD_AUDIO" />
         <uses-permission android:name="android.permission.CAMERA" />
      </config-file>
       <config-file target="AndroidManifest.xml" parent="/manifest/application">
        <activity android:name="br.com.stek.rtsplayer.rtsplayerActivity"></activity>
      </config-file>
      <source-file src="libs/net/majorkernelpanic/streaming/Stream.java"  />
      <source-file src="libs/net/majorkernelpanic/streaming/SessionBuilder.java"  />
      <source-file src="libs/net/majorkernelpanic/streaming/Session.java"  />
      <source-file src="libs/net/majorkernelpanic/streaming/MediaStream.java"  />
      <source-file src="libs/net/majorkernelpanic/streaming/video/CodecManager.java" />
      <source-file src="libs/net/majorkernelpanic/streaming/video/H263Stream.java"  />
      <source-file src="libs/net/majorkernelpanic/streaming/video/H264Stream.java"  />
      <source-file src="libs/net/majorkernelpanic/streaming/video/VideoQuality.java"  />
      <source-file src="libs/net/majorkernelpanic/streaming/video/VideoStream.java"  />
 
      <source-file src="libs/net/majorkernelpanic/streaming/rtsp/RtcpDeinterleaver.java"  />
      <source-file src="libs/net/majorkernelpanic/streaming/rtsp/RtspClient.java" />
      <source-file src="libs/net/majorkernelpanic/streaming/rtsp/RtspServer.java" />
      <source-file src="libs/net/majorkernelpanic/streaming/rtsp/UriParser.java" />
 
      <source-file src="libs/net/majorkernelpanic/streaming/rtp/AACADTSPacketizer.java"  />
      <source-file src="libs/net/majorkernelpanic/streaming/rtp/AACLATMPacketizer.java"  />
      <source-file src="libs/net/majorkernelpanic/streaming/rtp/AbstractPacketizer.java" />
      <source-file src="libs/net/majorkernelpanic/streaming/rtp/AMRNBPacketizer.java"  />
      <source-file src="libs/net/majorkernelpanic/streaming/rtp/H263Packetizer.java" />
      <source-file src="libs/net/majorkernelpanic/streaming/rtp/H264Packetizer.java" />
      <source-file src="libs/net/majorkernelpanic/streaming/rtp/MediaCodecInputStream.java" />
      <source-file src="libs/net/majorkernelpanic/streaming/rtp/RtpSocket.java" />
       
      <source-file src="libs/net/majorkernelpanic/streaming/rtcp/SenderReport.java" />
 
      <source-file src="libs/net/majorkernelpanic/streaming/mp4/MP4Config.java" />
      <source-file src="libs/net/majorkernelpanic/streaming/mp4/MP4Parser.java" />

      <source-file src="libs/net/majorkernelpanic/streaming/hw/CodecManager.java"  />
      <source-file src="libs/net/majorkernelpanic/streaming/hw/EncoderDebugger.java"  />
      <source-file src="libs/net/majorkernelpanic/streaming/hw/NV21Convertor.java"  />
       
      <source-file src="libs/net/majorkernelpanic/streaming/gl/SurfaceManager.java"  />
      <source-file src="libs/net/majorkernelpanic/streaming/gl/SurfaceView.java"  />
      <source-file src="libs/net/majorkernelpanic/streaming/gl/TextureManager.java"  />
       
      <source-file src="libs/net/majorkernelpanic/streaming/exceptions/CameraInUseException.java"  />
      <source-file src="libs/net/majorkernelpanic/streaming/exceptions/ConfNotSupportedException.java"  />
      <source-file src="libs/net/majorkernelpanic/streaming/exceptions/InvalidSurfaceException.java"  />
      <source-file src="libs/net/majorkernelpanic/streaming/exceptions/StorageUnavailableException.java"  />
      
      <source-file src="libs/net/majorkernelpanic/streaming/audio/AACStream.java" />
      <source-file src="libs/net/majorkernelpanic/streaming/audio/AMRNBStream.java"  />
      <source-file src="libs/net/majorkernelpanic/streaming/audio/AudioQuality.java"  />
      <source-file src="libs/net/majorkernelpanic/streaming/audio/AudioStream.java" />
     
      <source-file src="src/android/rtsplayer.java" target-dir="src/br/com/stek/rtsplayer" />
      <source-file src="src/android/rtsplayerActivity.java" target-dir="src/br/com/stek/rtsplayer" />
   </platform>
</plugin>